body {
  font-family: Arial, sans-serif;
}

.node circle {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
